%h2="Show Schedule #{@semester}"
Semester
=select_tag("schedule", options_for_select(Slot.pluck(:semester).uniq+["New Semester"], @semester), class: "semester_select")

=render 'form'

%section.home.flexcontainer
  -(0..6).each do |i|
    .schedule_column.flex1
      .schedule_header
        %h6=Weekdays[i]
      -@slots[i].each do |slot|
        .schedule_slot
          .schedule_starttime=slot.start.to_s(:time)
          .schedule_showname=slot.show.get_name
