%h2="Show Schedule #{@semester}"
Semester
=select_tag("schedule", options_for_select(([@semester.to_f] + Slot.pluck(:semester)).uniq+(user_is_dd? ? ["New Semester"] : []), @semester), class: "semester_select")

=render 'form' if user_is_dd?

%section.home.flexcontainer
  -(0..6).each do |i|
    .schedule_column.flex1
      .schedule_header
        %h6=Weekdays[i]
      -@slots[i].each do |slot|
        -length = ((slot.end - slot.start)/1800).round
        .schedule_slot(class="slot_#{length}")
          .schedule_starttime=slot.start.to_s(:time)
          .schedule_showname=link_to(slot.show.get_name,slot.show)
