<%= form_tag({:controller => :pledgers, :action => "search"}, :method => "get", :remote => true, :update => 'namesearchResults' ) do %>
  <%= label_tag(:namesearch, "Search by first or last name:") %><br />
  <%= text_field_tag(:namesearch) %>
<% end %>

<ul id="namesearchResults">
  <li><%= link_to 'New Pledger', new_pledger_path %></li>
</ul>

