%section.grid_6.pledger
  =instructions_for_operators{ "Verify that this information is accurate." }
  %b.labelB Individual
  %p.inputP=best_in_place @pledger, :individual, :type => :checkbox, :collection => [ "No", "Yes"], :class => "inputP"
  %b.labelB Name
  %p.inputP=best_in_place @pledger, :name
  %b.labelB Email
  %p.inputP=best_in_place @pledger, :email
  %b.labelB WCBN Affiliation
  %p.inputP=best_in_place @pledger, :affiliation, :type => :select, :collection => [["Staff", "Staff"], ["Alumni", "Alumni"], ["Family", "Family"], ["Public", "Public"]]
  .flexcontainer.middlepadding
    .flex1
      %b.labelB Permanent Phone Number
      %p.inputP=best_in_place @pledger, :perm_phone
      %b.labelB Permanent Street Address
      %p.inputP=best_in_place @pledger, :perm_address
      -if !@pledger.perm_address2.blank?
        %p.inputP=best_in_place @pledger, :perm_address2
      .flexcontainer
        .flex2
          %b.labelB City
          %p.inputP=best_in_place @pledger, :perm_city
        .flex1
          %b.labelB State
          %p.inputP=best_in_place @pledger, :perm_state
      %b.labelB Zip Code
      %p.inputP=best_in_place @pledger, :perm_zip
    .flex1
      %b.labelB Local Phone Number
      %p.inputP=best_in_place @pledger, :local_phone
      %b.labelB Local Street Address
      %p.inputP=best_in_place @pledger, :local_address
      -if !@pledger.local_address2.blank?
        %p.inputP=best_in_place @pledger, :local_address2
      .flexcontainer
        .flex2
          %b.labelB City
          %p.inputP=best_in_place @pledger, :local_city
        .flex1
          %b.labelB State
          %p.inputP=best_in_place @pledger, :local_state
      %b.labelB Zip Code
      %p.inputP=best_in_place @pledger, :local_zip
  %p.notabene#pledgerID{:data => { :id => @pledger.id } }<
    Pledger ID: 
    = @pledger.id
  -#= link_to 'Edit', edit_pledger_path(@pledger) |
  -#= link_to 'Back', pledgers_path

= render_cell :donation_list, :show, pledger: @pledger

.grid_3
  = render_cell :reward_list, :show, pledger: @pledger
  = render "comments/onepledger"
