-if user_is_dd?
  %h2 Users
  -@users.each do |user|
    .flexcontainer
      -if user.username != 'dd'
        .flex1.deleteDonationLink= link_to '[X]', {:action=>'destroy', :id=>user}, :confirm=>"Are you sure you want to delete this user?", :method=>:delete
      -else
        .flex1.deleteDonationLink
      .flex3=user.username
      .flex6=user.email
-else
  %h2 Only DD can see this page.
