%aside.pledgerRewards.grid_3
  %h3 Premia
  .sidemargins
    =instructions_for_operators{"Can I interest you in any premium items?"}
  .rewardDiv
    %a.clickable.rewardLine#newReward{:data => {:id => "new"}}
      .rewardValue{:style => "padding: 10px 5px 10px 0;font-size:large;"}<
        +
      .rewardPremia{:style => "padding: 10px 0; font-size: large;"}<
        %span.rewardPremiaName{:style => "color:#B58900 !important;"}<
          New Premium
    -unless @activeRewards.empty?
      .rewardLine
        %p Requested Premia
    -@activeRewards.each do |reward|
      %a.clickable.rewardLine{:data => {:id => reward.id}}
        .rewardValue="$#{ reward.item.cost.round }"
        .rewardPremia< 
          %span.rewardPremiaName=reward.item.name
    -if user_is_dd?
      -unless @activeRewards.empty?
        .donationLine
          %p=link_to "Generate Packing Slip", :controller => 'rewards', :action => "packing_slips", :format => :pdf, :pledgers => @pledger.id
      -unless @archivedRewards.empty?
        .rewardLine
          %p Sent Premia
      -@archivedRewards.each do |reward|
        %a.clickable.rewardLine{ :data => {:id => reward.id}}
          .rewardValue.archive="$#{ reward.item.cost.round }"
          .rewardPremia.archive<
            %span.rewardPremiaName.archive=reward.item.name
