<h1><%=link_to "Generate", :action => "all", :format => :pdf %> Unsent GPOs</h1>

<table>
  <% @argsForGPO.each do |gpo| %>
    <tr> <td> <%=gpo[:pledger].id%> </td> <td> <%=gpo[:pledger].name%> </td> </tr>
  <% end %>
</table>
