<% title "Unsent GPOs" %>
<% if @pledgers.empty? %>
  <h1>No Unsent GPOs</h1>
<% else %>

  <h1> <a id="print-gpo-all">Generate</a> Unsent GPOs</h1>

  <ul>
    <% @pledgers.each do |pledger| %>
      <li><%= link_to pledger.name, pledger%> </li>
    <% end %>
  </ul>

  <%= button_to "Mark All As Sent", { action: "mark_all_sent"},
  method: :put, data: { confirm: "Are you sure you want to mark all GPOs as sent? This action cannot be undone." }%>

<% end %>
