<% title "Unsent GPOs" %>
<% if @pledgers.empty? %>
  <h1>No Unsent GPOs</h1>
<% else %>

  <!-- send to hidden iframe and print -->
  <iframe src="/gpo/all" style="display:none;" name="frame"></iframe>
  <h1> <a onclick="frames['frame'].print()">Generate</a> Unsent GPOs</h1>

  <ul>
    <% @pledgers.each do |pledger| %>
      <li><%= link_to pledger.name, pledger%> </li>
    <% end %>
  </ul>

  <%= button_to "Mark All As Sent", { action: "mark_all_sent"},
  method: :put, data: { confirm: "Are you sure you want to mark all GPOs as sent? This action cannot be undone." }%>

<% end %>
