@import "globals";

.deviseform{
  margin: 2em auto 0 auto ;
  padding: 1em;
  height: 100%;
  width: 279px;
  background-color: $base2;
  border: 1px $base1 solid;
  h2 {
    font-weight: bold;
    margin: 0;
  }
}
