@import "globals";

.progress_container {
  padding-right: 1em;
  padding-top: 0.5em;
}
.progress_bar{
  width:100%;
  border: 1px $base00 solid;
}
.total_progress_bar{
  background-color: transparentize($blue,.10);
  margin: 2px;
}
.paid_progress_bar{
  background-color: $green;
  margin: 2px;
}
.total_progress_label,
.paid_progress_label {
  margin: .5em 0 0 1em;
}

abbr {
  text-decoration: none;
}
