@import "globals";

.progress_container {
  padding-right: 1em;
  padding-top: 0.5em;
}
.progress_bar{
  width:100%;
  border: 1px $base00 solid;
}
.total_progress_bar{
  background-color: $blue;
  margin: 2px;
}
.paid_progress_bar{
  background-color: $green;
  margin: 2px;
}
