@import "globals";
label, b.labelB {
  color: $green;
  font-weight: bold;
}
.inputP {
  padding: 0.2em;
  margin-top: 2px;
  margin-bottom: 2px;
  border: 1px solid $base1;
  background-color: $base3;
}
input[type=text],input[type=password],input[type=tel],
input[type=time],select,input[type=email] {
  width: 100%;
  height: 1.5em;
  margin-top: 2px;
  margin-bottom: 2px;
}
input[type=checkbox] {
    display: inline;
}
select {
    max-width: 100%;
}
textarea {
    margin-bottom: 10px;
}
.middlepadding div {
  padding-right:1em
}
.middlepadding div:last-child {
  padding-right:0;
}
.notabene {
    font-size: x-small;
    color: #586E75;
}
.actions {
  width: 100%;
  text-align:center;
}
