@import "globals";
label, b.labelB {
  color: $green;
  font-weight: bold;
}
.inputP {
  padding: 0.2em;
  margin-top: 2px;
  margin-bottom: 2px;
  border: 1px solid $base1;
  background-color: $base3;
}
input[type=text],input[type=password],input[type=tel],
input[type=time],select,input[type=email],input[type=number] {
  width: 100%;
  height: 1.5em;
  margin-top: 2px;
  margin-bottom: 2px;
}
input[type=checkbox] {
    display: inline;
}
select {
    max-width: 100%;
}
textarea {
    margin-bottom: 10px;
}
.middlepadding div,
.middlepadding fieldset {
  padding-right:1em
}
.middlepadding div:last-child,
.middlepadding fieldset:last-child{
  padding-right:0;
}
.notabene {
    font-size: x-small;
    color: #586E75;
    line-height: 1.1;
}
.actions {
  width: 100%;
  text-align:center;
}


.field_with_errors {
  display: inline;

  & label {
    color: $red;
  }
}

#error_explanation {
  background-color: rgba($red, 0.2);
  border: 1px solid $red;
  padding: 0.75rem;
  margin: 0.5rem 0;

  & h2 {
    font-size: 1rem;
    line-height: 1;
    margin: 0.25rem 0 0.5rem;
  }

  ul {
    margin-left: 1rem;
    margin-bottom: 0.25rem;
  }
}
