$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

html, body {
  background-color: $base3;
  color: $base00;
  height: 100%
}
header {
  margin-top:0;
  min-width:100%;
  background-color: $base2;
  border-bottom: 1px $base1 solid;
  h1.logotype {
    color: $base01;
    margin-bottom:0;
    font-weight: bold;
  }
  .tagline {
    color: $base1;
    margin-top:-1em;
    margin-left:1.3em;
  }
  .auth {
    margin-top:1em;
    margin-right: 1em;
    float:right;
    text-align: right;
    .username {
      font-weight:bold;
    }
  }
}
.notice-alert {
  margin-top:0;
  min-width:100%;
  background-color: lighten($orange,40%);
  border-bottom: 1px $orange solid;
  div p.notice, div p.alert {
    text-align:center;
    color: darken($orange, 20%);
    font-weight: bold;
  }
}

.flexcontainer {
  display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;      /* OLD: Firefox (buggy) */ 
  display: -ms-flexbox;   /* MID: IE 10 */
  display: -webkit-flex;  /* NEW, Chrome 21+ */
  display: flex;          /* NEW: Opera 12.1, Firefox 22+ */
  margin: 0;
  height: 100%;
  width: 100%;
}

@for $i from 1 through 10 {
  .flex#{$i} {
    -webkit-flex: $i $i;
    -moz-flex: $i $i;
    -o-flex: $i $i;
    flex: $i $i;
    width: 100%;
  }
}

.centered {
  text-align: center
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
}
a {
  color: $blue;
  text-decoration: none;
}
a:hover {
  color: $base3;
  background-color: $blue;
}
h1.logotype a { color: inherit; }
h1.logotype a:hover {
  background-color: inherit;
  color: $blue;
}
p {
margin-top: 3px;
margin-bottom: 3px;
}

table {
  width: 95%;
}
tr {
  padding: 10px !important;
}
tr.darkrow {
  background-color: $base2;
}
tr td, tr th {
  font-weight:bold;
  padding:5px;
  line-height:1.3;
}
th {
  color: $green;
}

::-moz-selection {
    background-color: $blue;
    color: $base3;
}

::selection {
    background-color: $blue;
    color: $base3;
}
.clickable {
  color: inherit;
  cursor:pointer;
}
.clickable:hover {
  color: inherit;
}
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
.icon-large {
  font-size: 1.3em;
  position: relative;
  top: 0.05em;
}
.icon-spin {
  display: inline-block;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

.best_in_place { 
  display: block;
  width: 100%;
}
.best_in_place[data-attribute=individual] {
  display: inherit !important;
}
