// Place all the styles related to the gpo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "globals";

#cc-gpo-title {
	margin-top: 0.5in;
	color: black;
	text-align: center;
}

.gpo-table {
	font-size: 11pt;
	color: black;
	font-family: avenir;
	page-break-inside: avoid;
	margin: auto;
	table-layout: fixed;
}

.gpo-table td {
	vertical-align: middle;
}

.gpo-table strong {
	//font-size: 13pt;
}

.border {
	border: 1px solid black;
}
