/*// Place all the styles related to the gpo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/
@import "globals";

strong { font-size: 13pt; }

.gpo-table {
	font-size: 11pt;
	color: black;
	font-family: avenir;
	page-break-inside: avoid;
	margin: auto;
	table-layout: fixed;
}

.gpo-table td {	vertical-align: middle; }


.border { border: 1px solid black; }
