@import "globals";

div.homecontainer {
  display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;      /* OLD: Firefox (buggy) */ 
  display: -ms-flexbox;   /* MID: IE 10 */
  display: -webkit-flex;  /* NEW, Chrome 21+ */
  display: flex;          /* NEW: Opera 12.1, Firefox 22+ */
  margin: 0;
  height: 100%;
  width: 100%;
}

section.home {
  -webkit-flex-box: 1;
  -moz-flex-box: 1;
  -o-flex-box: 1;
  flex-box: 1;
  margin: 1em 1em 0 0;
  padding: 1em;
  height: 100%;
  width: 100%;
  background-color: $base2;
  border: 1px $base1 solid;
  h2 {
    font-weight: bold;
    margin: 0;
  }
  ul {
    list-style-type:none;
  }
}
