@import "globals";

section.home {
  margin: 1em 1em 0 0;
  padding: 1em;
  height: 100%;
  width: 100%;
  background-color: $base2;
  border: 1px $base1 solid;
  h2 {
    font-weight: bold;
    margin: 0;
  }
  ul {
    list-style-type:none;
  }
}
