@import 'globals';
.items_row {
  padding: 2px;
  line-height: 1.3;
  .out_of_stock{
    color: $red;
    font-weight: bold;
  }
}
.items_header {
  font-weight: bold;
}
.inactive {
  color: $base1;
}
