@import "globals";

.page {
	color: black;
	font-family: avenir;
	font-size: 12pt;
	page-break-after: always !important;
	margin: 1in;
}

return-address {
  position: absolute;
  margin: -.5in;
}

mailing-address {
  position: absolute;
  margin-left: -.5in;
}

time {
  float: right;
}

span {
	display: inline-block;
	text-indent: .5in;
}

.tables div {
  width: 50% !important;
}

.left {
  float: left;
}

.right {
  float: right;
}

.underline {
  border-bottom: solid black 1px;
}
