@import "globals";

form#searchForm {
  padding:1em;
  label {
    color: $base1;
  }
  #namesearch {
    height: 1.5em;
    width: 30em;
  }
}
label, b.labelB {
  color: $green;
  font-weight: bold;
}
.inputP {
  padding: 0.2em;
  margin-top: 2px;
  margin-bottom: 2px;
  border: 1px solid $base1;
  background-color: $base3;
}
input[type=text],
input[type=tel],
select,
input[type=email]{
  width: 100%;
  height: 1.5em;
  margin-top: 2px;
  margin-bottom: 2px;
}
input[type=checkbox] {
    display: inline;
}
select {
    max-width: 100%;
}
textarea {
    margin-bottom: 10px;
}
.middlepadding div:nth-child(1) {
  padding-right:1em
}
.notabene {
    font-size: x-small;
    color: #586E75;
}
.actions {
  width: 100%;
  text-align:center;
}

section.pledger {
  margin: 1em 1em 0 0;
  border: 1px solid $base1;
  background-color: $base2;
  padding: 12px;
  width: 460px - 25px !important;
}

.pledgerDonations,
.pledgerRewards{
  float: left;
  margin: 1em 1em 0 0;
  background-color: #EEE8D5;
  border: 1px solid #93A1A1;
  h3 {
    color: #93A1A1;
    padding: 0 10px 0 10px;
  }
}
.pledgerDonations, 
.pledgerRewards {
  padding: 5px 0px 0px 0px;
  text-align:left;
  position: relative;
}
.donationLine, .rewardLine {
  padding: 3px 0 3px 0;
  line-height: 16px;
  position:relative;
  display:block;
}
.donationLine:hover, .rewardLine:hover {
  background-color: inherit;
}
.rewardLine {padding-top: 4px;padding-bottom:4px;}
.donationLine:nth-child(odd) {background-color: #FDF6E3}
.rewardLine:nth-child(odd) {background-color: #FDF6E3}
.donationValue, .rewardValue {
  display:inline-block;
  float:left;
  width:25%;
  padding-top:1px;
  color: #859900;
  font-size: large;
  font-weight: bold;
  text-align: right;
}
.donationShow, .rewardPremia {
  display:inline-block;
  width:70%;
  text-align: left;
  padding-left:5px;
}
.donationShowName, .rewardPremiaName {
  display:block;
  clear:left;
  color: #268BD2;
  font-weight: bold;
}
.archive {
  color: #839496;
  text-decoration: line-through;
}
.donationLine p, .rewardLine p {
  padding-left:10px; 
  font-style:italic;
}
.donationForm, .rewardForm {
  padding: 5px 15px 5px 10px;
}
