@import "globals";

form#searchForm {
  padding:1em;
  label {
    color: $base1;
  }
  #namesearch {
    height: 1.5em;
    width: 30em;
  }
}

.greytext {
  color: $base00 !important;
  margin-left: -3px;
  margin-right: 4px;
}

.instructions {
  font-weight: bold;
  color: $orange;
  line-height:16px;
}
.sidemargins {
  margin: 0 12px;
}

section.pledger {
  margin: 1em 1em 0 0;
  border: 1px solid $base1;
  background-color: $base2;
  padding: 12px;
  width: 460px - 25px !important;
  height: 100%;
}

.pledgerDonations {
  height: 100%;
}

.pledgerDonations,
.pledgerRewards,
.pledgerComments{
  float: left;
  margin: 1em 1em 0 0;
  background-color: #EEE8D5;
  border: 1px solid #93A1A1;
  padding: 5px 0px 0px 0px;
  text-align:left;
  position: relative;
  h3 {
    color: #93A1A1;
    padding: 0 10px 0 10px;
  }
}
.donationLine,
.rewardLine,
.commentLine {
  padding: 5px 0 3px 0;
  line-height: 16px;
  position:relative;
  display:block;
}
.donationLine:hover, .rewardLine:hover {
  background-color: inherit;
}
.rewardLine {padding-top: 4px;padding-bottom:4px;}
.donationLine:nth-child(odd),
.rewardLine:nth-child(odd),
.commentLine:nth-child(odd){
  background-color: #FDF6E3
}
.donationValue, .rewardValue {
  display:inline-block;
  float:left;
  width:25%;
  padding-top:1px;
  color: #859900;
  font-size: large;
  font-weight: bold;
  text-align: right;
}
.donationShow, .rewardPremia {
  display:inline-block;
  width:70%;
  text-align: left;
  padding-left:5px;
}
.commentText {
  color: $base01;
  font-weight:bold;
}
.donationShowName,
.rewardPremiaName,
.commentShowName {
  display:block;
  clear:left;
  color: #268BD2;
  font-weight: bold;
}
.commentShowName{
  font-weight: normal !important;
}
.archive {
  color: #839496;
  text-decoration: line-through;
}
.donationLine > p, .rewardLine > p {
  padding-left:10px;
  font-style:italic;
}
.donationForm, .rewardForm {
  padding: 5px 15px 5px 10px;
}
.deleteDonationLink, .deleteRewardLink {
  float: right;
  a{
    color: $red;
  }
  a:hover{
    color: $base3;
    background-color: $red;
  }
}

.donationForm p.instructions {
  margin-bottom: 5px;
  font-size: 90%;
  line-height: 1.2;
}
