@import "globals";

.leaderboard {
  margin-top:0.5em;
}
.leaderboard_row {
  position: relative;
  margin: 5px 0 !important;
  font-size: 1.1em;
  color: $base03;
}
.leaderboard_bar {
  position: absolute;
  background-color:rgb(171,192,95);
  height: 1.7em;
  z-index:1;
}
.leaderboard_index{
  padding: 2px 2px 2px 7px;
}
.leaderboard_total{
  text-align: right;
  font-weight: bold;
  padding: 2px;
}
.leaderboard_showname{
  font-weight: bold;
  padding: 2px;
  width:85%;
  a {
    color: darken($blue, 10%);
  }
}
.above { z-index: 10; }
.below { z-index: 1;  }


.slothistory{ border-right: 1px solid $base0; }
.slothistory:nth-last-child(1){ border-right: none; }
.slothistory {
  text-align: center;
}
.slothistory_semesternum{
  font-weight:bold;
  line-height:1.2em;
}
.slothistory_total{
  width: 60%;
  border-top: 1px solid $green;
  border-bottom: 1px solid $green;
  font-weight:bold;
  color: darken($green,8%);
  margin: 10px auto;
  font-size: 1.3em;
  padding-top: 30px;
  padding-bottom: 30px;
}
