%h2=@show.get_name

.flexcontainer
  -@slots.each do |s|
    -slot,total,donations = s
    .flex1.slothistory
      .slothistory_semesternum
        ="#{Weekdays[slot.weekday]} #{slot.semester}"
      .slothistory_total
        ="$#{number_with_precision(total, :precision => 2, :delimiter => ',')}"
      %ul.slothistory_donorslist
        -donations.each do |donation|
          %li
            %span.slothistory_pledgername=link_to(donation.pledger.name,donation.pledger)
            %span.slothistory_donationamount="($#{number_with_delimiter(donation.amount.round, :delimiter => ',')})"
